.start-btn {
  margin-bottom: 20px;
}

.container {
  display: flex;
  max-width: 800px;
  height: 270px;
  background-image: url(/public/images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image {
  width: 100%;
  height: auto;
}

.scroll-animate {
  padding: 0;
}

.scroll-animate li {
  font-size: 18px;
  list-style-type: none;
  background-color: antiquewhite;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 5px;
}