.footer {
    &-top {
        height: 300px;
        width: 100%;
        background: linear-gradient(95deg, rgba(117, 194, 196, 1) 10%, rgba(255, 255, 255, 1) 100%);
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            background-color: white;
            border-radius: 50%;
            bottom: -34%;
            right: 15%;
        }
    }

    &-shape-left {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #288e3a;
        clip-path: polygon(0 0, calc(100% - 100px) 0, 100% 100%, 0 100%);
        height: 35px;
        width: calc(85% - 50px);
    }

    &-shape-right {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #3b4a4e;
        clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%);
        height: 65px;
        width: calc(15% + 125px);
    }

    &-bottom {
        height: 400px;
        background-color: #3b4a4e;
    }
}
